.full-screen-background
  .sky.align-center
    #moon
      = image_tag "/planetarium/moon.png"
  .water
    

.stars-background
  .stars-in-the-sky
  .stars-in-the-sea

.full-screen-background
  .mountains
    .mtn-left
    .mtn-right

#moon


.sea-background
  .row
    .small-8.small-offset-2.columns.candles-in-the-water.space-between
      .far-candle.candle1
      .far-candle.candle2
      .far-candle.candle1
      .far-candle.candle1
  .row.almost-full-row
    .small-10.small-offset-1.columns.candles-in-the-water.space-around
      .mid-candle.candle2
      .mid-candle.candle1
      .mid-candle.candle2
  .row.full-row
    .small-12.columns.candles-in-the-water.space-between
      .near-candle.candle1
      .near-candle.candle2
      .near-candle.candle1
      .near-candle.candle2

#tree
  
#text-foreground
  .row
    .small-12.columns
      %h1.text-center 
        %span.title.upcase.bold Planetarium
      %h4.text-center
        %span.tagline.downcase another thomas chen portfolio