!!!5
/ [if lt IE 7 ]
  %html.ie.ie6{ lang: I18n.locale }
/ [if IE 7 ]
  %html.ie.ie7{ lang: I18n.locale }
/ [if IE 8 ]
  %html.ie.ie8{ lang: I18n.locale }
/ [if IE 9 ]
  %html.ie.ie9{ lang: I18n.locale }
/ [if gt IE 9]
  %html{ lang: I18n.locale }

%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag 'planetarium', media: 'all', "data-turbolinks-track" => false
  = javascript_include_tag "planetarium", "data-turbolinks-track" => false
  = csrf_meta_tags
  %title Thomas Chen Planetarium
%body#planetarium
  = yield